
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <td>ID</td><td>@ViewBag.ID</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td> @ViewBag.Nombre</td>
    </tr>

    <tr>
        <td>ApellidoPaterno</td>
        <td> @ViewBag.ApellidoPaterno</td>
    </tr>

    <tr>
        <td>ApellidoMaterno</td>
        <td> @ViewBag.ApellidoMaterno</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td> @ViewBag.Estado</td>
    </tr>
   

</table>
